body {
	background-color: #FFFFFF;
	font-size: 11px;
	font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
	color:#000000;
	padding:0px;
	margin:0px;
	text-align:center;
}

.a1:link {color:#000000; text-decoration:none;}
.a1:visited {color:#000000; text-decoration:none;}
.a1:hover {color:#dd2032; text-decoration:underline;}
.a1:active {color:#dd2032; text-decoration:underline;}

.a2:link {color:#000000; text-decoration:none;}
.a2:visited {color:#000000; text-decoration:none;}
.a2:hover {color:#dd2032; text-decoration:none;}
.a2:active {color:#dd2032; text-decoration:none;}

h1 {
	font-size:32px;
	font-weight:normal;
	color:#006764;
	}
	
h2 {
	font-size: 16px;
	font-weight:bold;
	color:006764;
	margin-top: 8px;
	margin-bottom: 8px;
	}

#container {
	width: 912px;
	height:auto;
	background-color:#FFFFFF;
	margin-left: 192px;
	margin-right: 192px;
	text-align:left;
}

#top {
	width: 912px;
	height: 85px;
	background-image:url('Images/top.jpg');
	text-align:left;
	font-size:18px;
}

#top_left {
	width: 525px;
	height: 85px;	
	text-align:left;
	float: left;
}

#top_home {
	width: 77px;
	height: 85px;
	text-align:left;
	padding-top:15px;
	float: left;
}

#top_firma {
	width: 80px;
	height: 85px;
	text-align:left;
	padding-top:15px;
	float: left;
}

#top_shop {
	width: 140px;
	height: 85px;
	text-align:left;
	padding-top:15px;
	float: left;
}

#top_kontakt {
	width: 70px;
	height: 85px;
	text-align:left;
	padding-top:15px;
	float: left;
}

#banner {
	width: 912px;
	height: 160px;
	background-image:url('Images/banner.jpg');
	text-align:left;
}

#over_content {
	width: 912px;
	height: 35px;
	background-image:url('Images/over_content.jpg');
	padding-top:5px;
	text-align:center;
	text-align:left;
}

#content {
	width: 912px;
	height:auto;
	background-color:#0000FF;
	text-align:left;
}

#text_content { 
	padding-left: 15px; 
	padding-right: 24px;
}

#text_content.level1l {
	margin-top:5px;
	margin-bottom:-8px;
	color:#FFFFFF;
	font-weight:bold;
	text-transform:uppercase;
	}

#text_content.level1r {
	margin-top:-15px;
	margin-bottom:-8px;
	color:#FFFFFF;
	font-weight:bold;
	text-transform:uppercase;
	}
	
#text_content.level2l {
	color:#FFFFFF;
	padding-left:25px;
	}

#text_content.level2r {
	color:#FFFFFF;
	font-size:8px;
	}

#content_left {
	width: 175px;
	height: auto;
	background-image:url('Images/back_navi1.jpg');
	background-repeat:no-repeat;
	background-position:top;
	text-align:left;
	float:left;
}

#content_left2 {
	width: 175px;
	height: auto;
	background-image:url('Images/back_navi2.jpg');
	background-position:bottom;
	text-align:left;
	margin-top:8px;
	float:left;
}

#content_left3 {
	width: 175px;
	height: auto;
	color: #FFFFFF;
	background-image:url('Images/back_navi3.jpg');
	background-repeat:no-repeat;
	background-position:bottom;
	text-align:left;
	float: left;
}

#content_center_title {
	margin-top: -28px;
}

#content_center {
	width: 527px;
	height: auto;
	background-color:#FFFFFF;
	padding-left:30px;
	padding-right:30px;
	text-align:left;
	float:left;
}

#content_center_item {
	width: 527 px;
	height:auto;
	float:left;
}

#content_center_item_left {
	width: 160px;
	min-width: 160px;
	height:auto;
	float: left;
}

#content_center_item_left_upper {
	width: 160px;
	min-width: 160px;
	height:auto;
	float:left;
}

#content_center_item_left_lower {
	width: 160px;
	min-width: 160px;
	height:auto;
	float:left;
}

#content_center_item_right {
	width: 367 px;
	min-width: 367px;
	height:auto;
	float:left;
}

#content_center_item_finish {
	width: 527 px;
	height:auto;
	float:left;
	min-width:527px;
	background-image:url(Images/dot4line.jpg);
	background-repeat:repeat-x;
}

#content_center_wk {
	width: 527 px;
	height:auto;
}

#content_center_wk_footer {
	width: 527 px;
	min-height: 15px;
	height:auto;
	min-width:527px;
	padding-bottom: 20px;
	background-image:url(Images/dot4line.jpg);
	background-repeat:repeat-x;
	float:left;
}

#content_right {
	width: 150px;
	height:auto;
	text-align:left;
	float: left;
}

#content_right_top {
	width: 150px;
	height: 150px;
	background-image:url('Images/back_right_top.jpg');
	text-align:left;
	color:#FFFFFF;
	text-align:center;
	float: left;
}

#content_right_top_title {
	padding-top:8px;
	padding-right:8px;
}

#content_right_top_image {
	color:#000000;
	width: 118px;
	height: 97px;
	max-width: 118px;
	max-height: 97px;
	margin-top: 12px;
	margin-left: 12px;
	margin-right: 24px;
	margin-bottom: 16px;
	background-color:#FFFFFF;
}

#content_right_center {
	width: 150px;
	height: 10px;
	text-align:left;
	float: left;
}

#content_right_bottom1 {
	width: 150px;
	height: auto;
	color:#FFFFFF;
	background-image:url('Images/back_right_bottom1.jpg');
	background-repeat:no-repeat;
	background-position:top;
	text-align:left;
	float:left;
}

#content_right_bottom2 {
	width: 150px;
	height: auto;
	color:#FFFFFF;
	background-image:url('Images/back_right_bottom2.jpg');
	background-position:bottom;
	text-align:left;
	margin-top:8px;
	float: left;
}

#content_right_bottom3 {
	width: 150px;
	height: auto;
	min-height:241px;
	color:#FFFFFF;
	background-image:url('Images/back_right_bottom3.jpg');
	background-repeat:no-repeat;
	background-position:bottom;
	text-align:left;
	float:left;
}

#footer {
	width: 912px;
	height: 20px;
	background-image:url('Images/back_footer.jpg');
	background-repeat:no-repeat;
	margin-top:40px;
	text-align:center;
	padding-top:5px;
	float:left;
}

